@import "./base/global.css";
@import "./base/variables.css";
@import "./components/header/header.css";
@import "./components/sections/sections.css";
@import "./components/drawer/drawerContent.css";

body {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s linear, opacity 0.2s linear;
}