---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CollegeGrid from '../components/CollegeGrid.astro';
import USPSection from '../components/USPSection.astro';
import Footer from '../components/Footer.astro';
import HomeSection from '../components/HomeSection.astro'
import KollegsSection from '../components/KollegsSection.astro'
import KontaktSection from '../components/KontaktSection.astro'
---
<Layout>
	<Header />
	<main>
		<HomeSection />
		<KollegsSection />
		<KontaktSection />
		<Hero />
		<CollegeGrid />
		<USPSection />
	</main>
	<Footer />
</Layout>