---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import HomeSection from '../components/sections/HomeSection.astro';
import KollegsSection from '../components/sections/KollegsSection.astro';
import KontaktSection from '../components/sections/KontaktSection.astro';
---
<Layout>
	<Header />
	<main>
		<HomeSection />
		<KollegsSection />
		<KontaktSection />
	</main>
	<Footer />
</Layout>