---
import GraduationCapIcon from "../icons/GratuationCapIcon.astro";
import ColorBlob from "../icons/ColorBlob.astro";
---
<div class="header__logo">
    <!-- Color blob -->
    <ColorBlob/>
    <!-- Graduation Cap -->
    <GraduationCapIcon/>
    <span class="header__title">Karriere Kolleg</span>
</div>