---
import "../styles/sections.css"
---
<section id="home" class="section section--home">
    <div class="section__content">
        <h2 class="section__headline">Startseite</h2>
    </div>
</section>