---
import "../styles/sections.css"
---
<section id="kollegs" class="section section--kollegs">
    <div class="section__content">
        <h2 class="section__headline">Kollegs</h2>
    </div>
</section>