---
import "../styles/sections.css"
---
<section id="kontakt" class="section section--kontakt">
    <div class="section__content">
        <h2 class="section__headline">Kontakt</h2>
    </div>
</section>