---
import "../styles/main.css"

const pageTitle = "KarriereKolleg";
---
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{pageTitle}</title>

    <!-- 1. Kritische Styles -->
    <style is:inline>
        body {
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            font-family: Arial, sans-serif;
        }

        .header__title {
            font-size: 2.4rem;
            color: #fff;
        }

        .nav-desktop a {
            color: #000;
        }
    </style>

    <!-- 2. Fonts preloaden -->
    <link rel="preload" href="/karriere-kolleg/fonts/BrandonGrotesque-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/karriere-kolleg/fonts/BrandonGrotesque-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/karriere-kolleg/fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <!--&lt;!&ndash; 3. Haupt-CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="/styles/main.css">-->
</head>
<body>
<slot/>
</body>
</html>