---
import CloseIcon from "../icons/CloseIcon.astro";
import DrawerWave from "./DrawerWave.astro";
import Shape from "../Shape.astro";
const navItems = [
    {href: '#home', text: 'Startseite', current: true, shape: 1, color: "#f39d40"},
    {href: '#kollegs', text: 'Kollegs', shape: 2, color: "#e9669e"},
    {href: '#kontakt', text: 'Kontakt', shape: 3, color: "#0d94cb"},
];
---
<div class="drawer-content">
    <ul class="drawer-menu">
        {navItems.map(item => (
                <li class="drawer-menu-item">
                    <Shape shape={item.shape} color={item.color} />
                    <a href={item.href}>{item.text}</a>
                </li>
        ))}
    </ul>
    <div class="drawer-footer">
        <button id="drawer-close" aria-label="Menü schließen">
            <CloseIcon/>
        </button>
        <div class="drawer-wave-bg">
            <DrawerWave/>
        </div>
    </div>
</div>