---
import HamburgerIcon from "../icons/HamburgerIcon.astro";
import DrawerContent from "./DrawerContent.astro";

---
<!-- Mobile Navigation -->
<nav id="drawer" class="nav-mobile">
    <button id="drawer-toggle" aria-label="Menü öffnen">
        <HamburgerIcon/>
    </button>
    <!-- Drawer Content -->
    <DrawerContent/>
    <!-- Overlay direkt im HTML -->
    <div class="drawer-overlay"></div>
</nav>